In [6]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import os
import numpy as np
from scipy.stats import linregress

In [7]:
happiness_path = os.path.join("Downloads", "HappinessAlcoholConsumption.csv")
income_path = os.path.join("Downloads", "countries_income_group.csv")

In [29]:
happiness_study_df = pd.read_csv(happiness_path)
income_study_df = pd.read_csv(income_path, index_col=[0])

In [30]:
income_study_df.rename(columns = {'Economy' : 'Country'}, inplace = True)

In [31]:
alcohol_study = pd.merge(happiness_study_df, income_study_df, on = "Country")

alcohol_study.head(10)

,Country,Region_x,Hemisphere,HappinessScore,HDI,GDP_PerCapita,Beer_PerCapita,Spirit_PerCapita,Wine_PerCapita,Code,Region_y,Income group
0,Denmark,Western Europe,north,7.526,928,53.579,224,81,278,DNK,Europe & Central Asia,High income
1,Switzerland,Western Europe,north,7.509,943,79.866,185,100,280,CHE,Europe & Central Asia,High income
2,Iceland,Western Europe,north,7.501,933,60.530,233,61,78,ISL,Europe & Central Asia,High income
3,Norway,Western Europe,north,7.498,951,70.890,169,71,129,NOR,Europe & Central Asia,High income
4,Finland,Western Europe,north,7.413,918,43.433,263,133,97,FIN,Europe & Central Asia,High income
5,Canada,North America,north,7.404,922,42.349,240,122,100,CAN,North America,High income
6,Netherlands,Western Europe,north,7.339,928,45.638,251,88,190,NLD,Europe & Central Asia,High income
7,New Zealand,Australia and New Zealand,south,7.334,915,40.332,203,79,175,NZL,East Asia & Pacific,High income
8,Australia,Australia and New Zealand,south,7.313,938,49.897,261,72,212,AUS,East Asia & Pacific,High income
9,Sweden,Western Europe,north,7.291,932,51.845,152,60,186,SWE,Europe & Central Asia,High income

In [33]:
final_alcohol = alcohol_study.drop(columns=['Code', 'Region_y'])
final_alcohol.head()

,Country,Region_x,Hemisphere,HappinessScore,HDI,GDP_PerCapita,Beer_PerCapita,Spirit_PerCapita,Wine_PerCapita,Income group
0,Denmark,Western Europe,north,7.526,928,53.579,224,81,278,High income
1,Switzerland,Western Europe,north,7.509,943,79.866,185,100,280,High income
2,Iceland,Western Europe,north,7.501,933,60.530,233,61,78,High income
3,Norway,Western Europe,north,7.498,951,70.890,169,71,129,High income
4,Finland,Western Europe,north,7.413,918,43.433,263,133,97,High income